/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Name-of-your-block
 *
 */

.b-mega-slider {

	// Media Queries
	@include respond-to(desktop) {

	}

	@include respond-to(pad) {

	}

	@include respond-to(phone) {

	}

	// Global Styles
	@include rounded(5px);

	margin-top: 25px;

	.b-slider,
	.b-featured-product {
		padding: 5px;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		box-sizing: border-box;
	}

	.b-slider {
		max-width: 70%;
		margin-right: 10px;

		.image {
			margin-right: 15px;
		}

		.title {
			font-size: 23px;
			margin-top: 20px;
			margin-bottom: 5px;
		}

		.short-title {
			font-size: 17px;
			color: #BE1212;
			margin-bottom: 10px;
		}

		button {
			margin-top: 10px;
		}
	}

	.b-featured-product {
		height: 265px;
	}

}