$respond-to-no-mediaqueries-fallback: desktop;
$respond-to-fallback-class: lt-ie9;
$respond-to-breakpoints: (
	desktop "screen and (min-width: 921px)",
	pad "screen and (min-width: 569px) and (max-width: 920px)",
	phone "screen and (max-width: 568px)"
);